@mixin heavy-type {
  font-family: 'futura-pt', sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin italic-type {
  font-family: 'adelle-sans', sans-serif;
  font-weight: 300;
  font-style: italic;
}

@mixin sans-type {
  // font-family: 'aktiv-grotesk-std', sans-serif;
  // font-weight: 400;
  // font-style: normal;
  font-family: 'adelle-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin caps-type {
  font-family: 't26-carbon', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}
