<circle cx="250" cy="70" r="20" />
<circle cx="250" cy="70" r="25" />
<circle cx="250" cy="70" r="30" />
<circle cx="250" cy="70" r="35" />
<circle cx="250" cy="70" r="40" />
<circle cx="250" cy="70" r="45" />
<circle cx="250" cy="70" r="50" />
<circle cx="250" cy="70" r="55" />
<circle cx="250" cy="70" r="60" />
<circle cx="250" cy="70" r="65" />
<circle cx="250" cy="70" r="70" />
<circle cx="250" cy="70" r="75" />
<circle cx="250" cy="70" r="80" />
<circle cx="250" cy="70" r="85" />
<circle cx="250" cy="70" r="90" />
<circle cx="250" cy="70" r="95" />
<circle cx="250" cy="70" r="100" />
<circle cx="250" cy="70" r="105" />
<circle cx="250" cy="70" r="110" />
<circle cx="250" cy="70" r="115" />
<circle cx="250" cy="70" r="120" />
<circle cx="250" cy="70" r="125" />
<circle cx="250" cy="70" r="130" />
<circle cx="250" cy="70" r="135" />
<circle cx="250" cy="70" r="140" />
<circle cx="250" cy="70" r="145" />
<circle cx="250" cy="70" r="150" />
<circle cx="250" cy="70" r="155" />
<circle cx="250" cy="70" r="160" />
<circle cx="250" cy="70" r="165" />
<circle cx="250" cy="70" r="170" />
<circle cx="250" cy="70" r="175" />
<circle cx="250" cy="70" r="180" />
<circle cx="250" cy="70" r="185" />
<circle cx="250" cy="70" r="190" />
<circle cx="250" cy="70" r="195" />
<circle cx="250" cy="70" r="200" />
<circle cx="250" cy="70" r="205" />
<circle cx="250" cy="70" r="210" />
<circle cx="250" cy="70" r="215" />
<circle cx="250" cy="70" r="220" />
<circle cx="250" cy="70" r="225" />
<circle cx="250" cy="70" r="230" />
<circle cx="250" cy="70" r="235" />
<circle cx="250" cy="70" r="240" />
<circle cx="250" cy="70" r="245" />
<circle cx="250" cy="70" r="250" />
<circle cx="250" cy="70" r="255" />
<circle cx="250" cy="70" r="260" />
<circle cx="250" cy="70" r="265" />
<circle cx="250" cy="70" r="270" />
<circle cx="250" cy="70" r="275" />
<circle cx="250" cy="70" r="280" />
<circle cx="250" cy="70" r="285" />
<circle cx="250" cy="70" r="290" />
<circle cx="250" cy="70" r="295" />
<circle cx="250" cy="70" r="300" />
<circle cx="250" cy="70" r="305" />
<circle cx="250" cy="70" r="310" />
<circle cx="250" cy="70" r="315" />
<circle cx="250" cy="70" r="320" />
<circle cx="250" cy="70" r="325" />
<circle cx="250" cy="70" r="330" />
