.fleuron {
  & {
    margin: 40px auto;
    text-align: center;
    clear: both;
  }

  &:before, &:after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 1px;
    background: #ddd;
    vertical-align: middle;
    margin: 0 20px;
  }

  i:before {
    display: inline-block;
    @include ion-icon('ios-infinite');
    font-size: 32px;
    color: $cyan;
  }
}
