.highlight {
  width: 600px;
  margin: 20px auto;

  text-align: left;

  h4 {
    font-weight: bold;

    a {
      text-decoration: none;
      color: #111111;
    }
  }

  .details {
    margin-top: 20px;
  }

  .year {
    color: black;
  }

  p {
    margin-bottom: 20px;
  }

}
