#illo-screens {
  rect, path, circle {
    stroke: #eee;
    stroke-width: 1px;
    fill: none;
  }
}

.animated #illo-screens {
  $count: 1;
  .s2 rect,
  .s2 path,
  .s2 circle {
    stroke: $cyan;
    animation: lol 7000ms ease infinite normal;
    animation-iteration-count: $count;
  }

  .s3 rect,
  .s3 path,
  .s3 circle {
    stroke: $red;
    animation: lol2 11000ms ease infinite normal;
    animation-iteration-count: $count;
  }

  .s4 rect,
  .s4 path,
  .s4 circle {
    stroke: $gray;
    animation: lol2 16000ms ease infinite normal;
    animation-iteration-count: $count;
  }
}

@keyframes lol {
  0% {
    stroke-dashoffset: 0%;
    stroke-dasharray: 0% 100%;
  }
  40% {
    stroke-dashoffset: 50%;
    stroke-dasharray: 100% 0%;
  }
  100% {
    stroke-dasharray: 0% 100%;
    stroke-dashoffset: -100%;
  }
}

@keyframes lol2 {
  0% {
    stroke-dashoffset: 0%;
    stroke-dasharray: 0% 100%;
  }
  40% {
    stroke-dashoffset: 50%;
    stroke-dasharray: 30% 0%;
  }
  100% {
    stroke-dasharray: 0% 100%;
    stroke-dashoffset: -100%;
    opacity: 0;
  }
}
