$speed: 1000ms;
$count: 2;

#illo-screens {
  rect, path, circle {
    stroke: #fcfcfc;
    stroke-width: 1px;
    fill: none;
  }
}

.animated #illo-screens {
  .s2, .s3, .s4 {
    rect, path, circle {
      stroke-dashoffset: 0%;
      stroke-dasharray: 4% 96%;
    }
  }

  .s2 rect,
  .s2 path,
  .s2 circle {
    stroke: mix($cyan, white, 25%);
    stroke-dasharray: 10% 90%;
    @include animation(lol 7 * $speed ease $count normal);
  }

  .s3 rect,
  .s3 path,
  .s3 circle {
    stroke: mix($red, white, 50%);
    stroke-dasharray: 0% 100%;
    @include animation(lol 11 * $speed ease $count normal);
  }

  .s4 rect,
  .s4 path,
  .s4 circle {
    stroke: #888;
    stroke-dasharray: 0% 100%;
    @include animation(lol 16 * $speed ease $count normal);
  }
}

@include keyframes(lol) {
  0% {
    stroke-dashoffset: 0%;
    stroke-dasharray: 0% 100%;
  }
  40% {
    stroke-dashoffset: 50%;
    stroke-dasharray: 100% 0%;
  }
  100% {
    stroke-dasharray: 0% 100%;
    stroke-dashoffset: -100%;
  }
}
