.prologue-section {
  & {
    padding: 150px 0;
    /* background: linear-gradient(180deg, #fdfdfd, #fff 30%); */
  }

  p {
    margin: 40px 0;
  }

  .pullquote {
    font-size: 2em;
    color: $hotred;
    text-align: center;
    @include italic-type;
    margin: 50px -90px;
    line-height: 1.5;
  }

  h3 {
    font-family: 'input sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 0.9em;
    text-align: center;
    color: $blacker;
    margin: 0 auto -20px auto;
  }
}

.container.-slim {
  max-width: 600px;
  margin: 0 auto;
}
