.process-section {
  background: darken($gray, 40%);
  box-shadow: 0 -50px rgba(#1DD1E4, 0.4);
  padding: 150px 0;
  color: $gray;

  margin-bottom: 500px;

  h2 {
    color: white;
    @include heavy-type;
    font-size: 1.4em;
  }

  h2, p {
    text-align: center;
  }

  p {
    font-size: 0.85em;
    @include italic-type;
    @include antialias;
  }

  i {
    display: block;
    width: 160px;
    height: 80px;
    margin: 0 auto 30px auto;
    border: solid 4px white;
    border-radius: 64px;
  }
}
