.prologue-section {
  & {
    padding: 150px 0;
    /* background: linear-gradient(180deg, #fdfdfd, #fff 30%); */
  }

  p {
    margin: 40px 0;
  }

  .pullquote {
    font-size: 2em;
    color: $hotred;
    text-align: center;
    @include italic-type;
    margin: 50px -90px;
    line-height: 1.5;
  }

  h3 {
    @include caps-type;

    text-align: center;
    font-size: 1em;
    text-align: center;
    color: $blacker;
    margin: 0 auto -20px auto;
  }
}
