.process-section {
  $darkbg: saturate(darken($gray, 40%), 15%);

  & {
    position: relative;
    background: $darkbg;
    color: $gray;
  }

  h2 {
    color: white;
    @include heavy-type;
    font-size: 1.4em;
  }

  h2, p {
    text-align: center;
  }

  p {
    font-size: 0.9em;
    @include italic-type;
    @include antialias;
  }

  i {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto 30px auto;
    border: solid 4px white;
    border-radius: 50%;
    background: $darkbg;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .container {
    position: relative;
    padding: 175px 0;
    z-index: 2;
  }
}

#illo-halo {
  circle {
    fill: none;
    stroke: #444;
    stroke-width: 0.3px;
    opacity: 0.3;
  }
}
