.title-section {
  $ratio: 972 / 319;
  $size: 1400px;

  & {
    border-bottom: solid 1px #ddd;
    overflow: hidden;

    padding-bottom: $size / $ratio;
    position: relative;
  }

  h1 {
    @include heavy-type;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    line-height: 1.4;
    color: $blacker;
  }

  .text {
    margin-top: 220px;
    margin-bottom: 10px;
    padding: 30px;
    background: rgba(white, 0.97);

    position: relative;
    z-index: 20;
  }
  
  .action {
    text-align: center;
    margin-top: 30px;

    display: none;
  }

  .button {
    display: inline-block;
    border: solid 2px $hotred;
    padding: 10px 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    border-radius: 2px;
    color: white;
    background: $hotred;
  }

  #illo-screens {
    position: absolute;
    left: 50%;
    bottom: -2px;
    margin-left: $size / 2 * -1;
    width: $size;
    height: $size / $ratio;
  }
  
  .type img {
    position: absolute;
    left: 50%;
    bottom: 300px;

    $ratio: 135/73;
    width: 100px;
    height: 100px / $ratio;

    margin-left: -50px;
  }
}
