.who-section {
  background: #fbfcfd;

  .box {
    background: white;
    padding: 40px 0;
    box-shadow: 0 10px 50px rgba($cyan, 0.09);

    margin-top: -10px;
    margin-bottom: -10px;

    position: relative;
    z-index: 1;
    text-align: center;

    @include clearfix;
  }

  .heading {
    @include caps-type;
    color: $blacker;
  }

  .person-item {
    width: 50%;
    padding: 40px;
    border-bottom: solid 3px mix($hotcyan, white, 20%);
  }

  .person-item.-left {
    float: left;
  }

  .person-item.-right {
    float: right;
  }

  .person-item.-left + .-right {
    margin-top: 100px;
  }
}

.person-item {
  & {
    text-align: left;
  }

  .name {
    @include heavy-type;
    font-size: 1.3em;
    color: $blacker;
  }

  .title {
    color: $gray;
    @include italic-type;

    position: relative;
    top: -4px;
    font-size: 0.9em;
  }

  .handle {
    color: $hotred;
    @include caps-type;
    text-transform: none;
    letter-spacing: -1px;
    font-size: 0.7em;
  }

  .bio {
    margin-top: 20px;
    font-size: 0.9em;
  }
}
