---
---

$blacker: #111;
$black: #404040;
$cyan: #9AD3DB;
$red: #d99292;
$gray: #789;

@import url('http://brick.a.ssl.fastly.net/Clear+Sans:400,700');

@import './utils/global-reset';
@import './utils/ionicons';
@import './utils/type';

@import './base/antialias';
@import './base/base';

@import './components/illo-screens';
@import './components/title-section';
@import './components/prologue-section';

@include ion-font;
