<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/app.css">

        <script type="text/javascript" src="//use.typekit.net/ael8hso.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </head>
    <body>
      <div class="full-container container-fluid">

        <section class="hero">
          <div class="header">
            <div class="container">
              <a href="/"><img src="/images/logo-white@2x.png" /></a>
              <div class="content">
                <h1 class="title">Your startup deserves a good team</h1>
                <p class="subtitle">A team that understands and knows what they are doing, and cares enough to make you succeed.</p>
              </div>
            </div>
          </div>
         </section>
      </div>

      <section class="container content">
        {{ content }}
      </section>

      <section class="footer">
        <div class="container">
          <p>&copy; 2014 Mashupgarage LLC</p>

        </div>
      </section>
    </body>
</html>
