<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

        <script type="text/javascript" src="//use.typekit.net/ael8hso.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </head>
    <body>
      <div class="full-container container-fluid">

        <section class="hero">
          <div class="header">
            <div class="container">
              <nav>
                <a href="/"><img src="/images/logo-white@2x.png" /></a>
                <div class="pull-right"><a href="#contact" class="btn-link small">Contact Us</a>
              </nav>
              <div class="content">
                <h1 class="title">Your startup deserves a good team</h1>
                <p class="subtitle">A team that understands and knows what they are doing, and cares enough to make you succeed.</p>
              </div>
            </div>
          </div>
         </section>

      </div>

      <!-- We build -->
      <div class="container">
        <section class="row features">
          <div class="section-header">
            <i class="icon ion-network"></i>
            <h2>We build great products</h2></div>
          <div class="feature col-lg-4 col-md-4 col-sm-12">
            <h2>Quality</h2>
            <p>If there is something that we care about the most, <strong>it's quality</strong>. Your idea deserves great execution. We care about efficient sprint planning, code quality, test coverages, documentation and everything to give your product the royal treatment.</p>
          </div>

          <div class="feature col-lg-4 col-md-4 col-sm-12">
            <h2>Value</h2>
            <p><strong>We are your Investor's best friends.</strong> Your money is important. We make sure that it is well spent by providing you good and cost-effective ways to execute and develop your product.</p>
          </div>

          <div class="feature col-lg-4 col-md-4 col-sm-12">
            <h2>Output</h2>
            <p>We care about your feature's product design, user interface and engineering as if it's our own. <strong>We love pixel perfect and flawless work.</strong></p>
          </div>


        </section>

      </div>

      <div class="separator"></div>

      <!-- Engineering -->
      <div class="container">
        <section class="row features">
          <div class="section-header"><h2>Our software engineering practices are outstanding</h2></div>
          <div class="feature philosophy">
            <!--<h2>Focus</h2>-->
            <div class="icons">
              <img src="/images/rails.png" />
              <img src="/images/js.png" />
            </div>
            <p>With MashupGarage, we value the importance of focus. That's why we only work on <strong>Ruby on Rails</strong> projects. But that doesn't mean we can't do other things, We are skilled enough to carry out <strong>Javascript</strong>, <strong>iOS</strong>, <strong>Node</strong>, and even <strong>GO</strong> projects.</p>
            <p>Our core communication tool is <strong>Slack</strong>. We make use of <strong>Github issues</strong> and its amazing <strong>pull request</strong> system. We always work with <strong>Jenkins*</strong> for continuous integration. <strong>Pivotal Tracker*</strong> or <strong>Asana*</strong> for project management.</p>

            <p class="fine-print">*optional. However, Slack and Github are not optional.</p>
            <div class="action">
              <a href="" class="btn-link inverse">Learn more about our coder ethics</a>
            </div>

          </div>
        </section>
      </div>

      <!-- Team -->
      <div class="full-container container-fluid team">
        <div class="container">
          <section class="who-we-are">
            <div class="section-header">
              <i class="icon ion-ios7-world-outline"></i>
              <h2>World class</h2>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <p>
                  We have worked with global brands such as Startup Weekend, Deloitte, McDonalds and more. Our teams are located in San Francisco, Manila &amp; Melbourne which makes our day to day work exciting.

                  <br/>
                </p>
                <div class="action">
                  <a href="/who-we-are" class="btn-link">Who we are</a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- Folio -->
      <div class="container">
        <section class="showcase">
          <div class="section-header">
            <i class="icon ion-radio-waves"></i>
            <h2>Our latest work</h2>
          </div>
          <div class="showcase-items">
            <div class="showcase-item">
              <div class="showcase-img">
                <img src="/images/ticketbase.jpg" />
              </div>
              <h3>Ticketbase.com</h3>
              <p>A ticketing platform that pays you</p>
            </div>
          </div>

        </section>

      </div>

      <div class="separator"></div>

      <section class="container-fluid learn-more">
        <div class="section-header">
          <i class="icon ion-ios7-gear-outline"></i>
          <h2>How we do things</h2>
            <p>The best way to learn more about us is by going through our posts</p>
        </div>

        <div class="separator"></div>

        {{ content }}

        <div class="action">
          <a href="" class="btn-link inverse">Show all our posts</a>
        </div>

      </section>

      <section id="contact" class="container-fluid contact-us">
        <div class="section-header">
          <i class="icon ion-ios7-telephone-outline"></i>
          <h2>Contact us</h2>
          <p>Let's discuss your project</p>
        </div>

        <div class="separator thin"></div>

        <p class="contact-email">hello@mashupgarage.com</p>
        <p>
          United States: +1 (206) 384-3719
          <br/>
          Asia Pacific: +63 (917) 308-4089
        </p>

      </section>


      <section class="footer">
        <div class="container">
          <p>&copy; 2014 Mashupgarage LLC. The source code for this site is available on <a href="http://github.com/mashupgarage/mashupgarage">github</a>.</p>

        </div>
      </section>
    </body>
</html>
